spring:
  application:
    name: elasticsearch-demo

  datasource:
    url: jdbc:postgresql://localhost:5432/perfume_db
    username: admin
    password: admin123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  elasticsearch:
    uris: http://localhost:9200

server:
  port: 8080

logging:
  level:
    com.demo.search: DEBUG
    org.springframework.data.elasticsearch: DEBUG
